:root {
  --main-color: #1e3932;
  --hover-color: #59ab6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.menu-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  gap: 20px;
}
.menu-line a {
  color: #212121;
  text-decoration: none;
  padding: 8px 0;
}
.menu-line a:hover {
  color: var(--hover-color);
}

#choices li {
  list-style: none;
  margin: 10px 0;
  font-size: 16px;
}
#choices input[type="radio"] {
  margin-right: 10px;
}

.clickable-word.marked-x::after {
  content: "X";
  color: red;
  font-weight: bold;
  margin-left: 6px;
}
.clickable-word.marked-o::after {
  content: "O";
  color: green;
  font-weight: bold;
  margin-left: 6px;
}

.mark-o {
  color: green;
  font-weight: bold;
  margin-left: 6px;
}
.mark-x {
  color: red;
  font-weight: bold;
  margin-left: 6px;
}
